{% extends 'parking/base.html' %}

{% block content %}

   <p>Припаркованые</p>
   <table>
      {% for parkin in parking  %} 
      <tr>
         <td> <a href = "{% url 'parking:park_id' park_id=parkin.id %}">{{parkin}}</a></td>
         <td> <button><a href = "{% url 'parking:edit_park' pk=parkin.id %}">Изменить</a></button></td>
         <td><button> <a href = "{% url 'parking:delete' par_id=parkin.id %}">Удалить</a> </button></td>   
      </tr>   
      {% endfor %}
   <table>

      <button> <a href = "{% url 'parking:new_park'  %}">Добавить:</a></button>

{% endblock content %}

{% comment %} {% for parking in parkings  %} {% endcomment %}
{% comment %} {{ parking }} {% endcomment %}
{% comment %} {% endfor %} {% endcomment %}
